.error-message {
  color: #dc2626; /* rojo-600 de Tailwind */
  font-size: 0.875rem; /* text-sm */
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  font-weight: 500;
}

input.error,
select.error,
textarea.error {
  border-color: #dc2626;
  outline: none;
  box-shadow: 0 0 0 1px #dc2626;
}