.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  gap: 16px; /* espacio entre las tarjetas */
  padding: 16px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.2s ease;;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card_header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title
{
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.card_body > p
{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.tagTitle
{
  text-decoration: underline;;
}

h1
{
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.buttonStyle
{
  margin-top: 1rem;
  background-color: #dc3545;
  border: 0px;
}

.buttonStyle:hover
{
    background-color: #b02a37;
}